.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  outline: none;
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8) 85%);
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200000;
}
