.header {
  height: 79px;
  width: 100%;
  border-top: 2px solid #785A28;
  box-sizing: border-box;
  margin-bottom: 1px;
  z-index: 200000; // ???

  .content {
    display: flex;
    height: 100%;
    border-bottom: 1px solid rgba(240,230,210,0.25);
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1px;

    .actions {
      display: flex;
			flex: 1;
      flex-direction: row;

      .reloadButtonWrapper {
				display: flex;
				justify-content: center;
				flex: 0 0 calc(194px * 1.25);
        margin-right: 35px;
      }

			.navigation {
			}
    }

    .identity {
      display: flex;
      flex-direction: row;
      width: 213px;
      padding: 20px 8px 4px 0;

      .iconWrapper {
        position: relative;
        line-height: 0;
        align-self: flex-end;
        margin-bottom: 5px;

        .summonerIcon {
          border-radius: 50%;
          height: 50px;
          width: 50px;
          margin-right: 10px;
          border: 2px solid rgba(155,125,35,1);
          box-sizing: border-box;
        }

        .status {
          border: 2px solid;
          border-radius: 50%;
          z-index: 200000;
          height: 11px;
          width: 11px;
          position: absolute;
          bottom: 7px;
          right: 7px;

          &.on {
            background-color: #09A646;
            border-color: #66F8A0;
          }

          &.off {
            background-color: #C0392B;
          }

					&.updating {
						background-color: #f39c12;
						border-color: #d35400;
					}
        }
      }

      .details {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .name {
          font-family: 'LoL Display';
          color: #F0E6D2;
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 0.035em;
        }

        .connection {
          font-family: 'LoL Body';
          color: #A09B8C;
          margin-top: 3px;
          font-size: 12px;

          &.on {
            color: #09A646;
          }

          &.off {
            color: #C0392B;
          }

					&.updating {
						color: #f39c12;
					}
        }
      }
    }
  }
}
