@import "~font-awesome/css/font-awesome.min.css";
@import "./normalize.global.css";

body {
  background-image: url('./static/background.png');
	background-size: 101%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

#root {
	height: 100%;
}

/* Containers */

.app {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.tabbed-container {
	display: flex;
	flex: 1;
	flex-direction: column;

	.tabs {
		display: flex;
		flex-direction: row;
		margin-left: 35px;
		min-height: 30px;
	}
}

.release-notes {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}

.loading {
	position: fixed;
	width: 100vw;
	height: 100vh;
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #F0E6D2;
}

.skins {
	flex: 1;
	display: flex;
	flex-direction: row;
  padding-left: 35px;
}

.settings {
	flex: 1;
	display: flex;
	flex-direction: column;

  .container {
    display: flex;
    flex: 0.9;
		width: 60%;
		margin: 0 auto;
  	flex-direction: column;
    align-items: center;
  	justify-content: center;

    & > div {
      margin-bottom: 10px;
    }
  }

  .actions {
		display: flex;
		align-items: center;
		justify-content: center;

		.save {
	//		height: 40px;
			width: 200px;
		}
  }
}


/* LCU Emulation
   ========================================================================== */

html, body {
	overflow: hidden;

	::-webkit-scrollbar {
	  width: 11px;
	  background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
	  border: 3px solid transparent;
	  border-radius: 6px;
	  background-clip: padding-box;
	  min-height: 32px;
	  background-color: #785a28;
	}
}

body, img, iframe {
  -webkit-user-select: none;
//	-webkit-font-smoothing: antialiased;
}

body, img, iframe, a {
  -webkit-user-drag: none
}

@font-face {
  font-family: 'LoL Body';
  font-weight: normal;
  font-style: normal;
  src: url('./static/spiegel/Spiegel-Regular.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 700;
  font-style: normal;
  src: url('./static/spiegel/Spiegel-SemiBold.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 900;
  font-style: normal;
  src: url('./static/spiegel/Spiegel-Bold.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: normal;
  font-style: italic;
  src: url('./static/spiegel/Spiegel-RegularItalic.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 700;
  font-style: italic;
  src: url('./static/spiegel/Spiegel-SemiBoldItalic.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Body';
  font-weight: 900;
  font-style: italic;
  src: url('./static/spiegel/Spiegel-BoldItalic.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 300;
  font-style: normal;
  src: url('./static/beaufort/BeaufortForLoL-Light.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: normal;
  font-style: normal;
  src: url('./static/beaufort/BeaufortForLoL-Regular.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 500;
  font-style: normal;
  src: url('./static/beaufort/BeaufortForLoL-Medium.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 700;
  font-style: normal;
  src: url('./static/beaufort/BeaufortForLoL-Bold.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 900;
  font-style: normal;
  src: url('./static/beaufort/BeaufortForLoL-Heavy.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 300;
  font-style: italic;
  src: url('./static/beaufort/BeaufortForLoL-LightItalic.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: normal;
  font-style: italic;
  src: url('./static/beaufort/BeaufortForLoL-Italic.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 500;
  font-style: italic;
  src: url('./static/beaufort/BeaufortForLoL-MediumItalic.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 700;
  font-style: italic;
  src: url('./static/beaufort/BeaufortForLoL-BoldItalic.otf')  format('opentype');
}

@font-face {
  font-family: 'LoL Display';
  font-weight: 900;
  font-style: italic;
  src: url('./static/beaufort/BeaufortForLoL-HeavyItalic.otf')  format('opentype');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
    cursor: default;
}
