$lcu-gold: rgb(94.1%, 90.2%, 82.4%);
$lcu-gold-medium: rgb(80.4%, 74.5%, 56.9%);

$lcu-text-light: $lcu-gold;
$lcu-text-dark: rgb(62.7%, 60.8%, 54.9%);

$lcu-gold-border-color: rgba(155, 125, 35, 0.5);
$lcu-gold-input-border-color: rgb(47.1%, 35.3%, 15.7%);
