.skinTile {
  display: inline-block;
  position: relative;
  width: calc(25% - 10px);
	height: 0;
	padding-bottom: calc(25% - 10px); // wizardry
  margin: 0 10px 10px 0;

	:global(.lazyload-placeholder) {
//		padding-bottom: 100%;
		min-height: calc(25vw - 79px);
	}

  .skinTileBg {
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(155,125,35,0.5);
    border-image-slice: 1;
    border-image-repeat: stretch;
    box-shadow: 0 0 0 1px rgba(1,10,19,0.85);

    &:hover {
      border-image-source: linear-gradient(to bottom, #F0E6D2 4%, #C89B3C 100%);
    }

    &:active {
      border-image-source: linear-gradient(to bottom, #463714 0%, #695625 100%);
    }
  }

  .skinName {
    font-family: 'LoL Body';
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: #F0E6D2;
    line-height: 18px;
    letter-spacing: 0.075em;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 10;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  }
}

:global(.fade-appear) {
    opacity: 0.01;
}
:global(.fade-appear.fade-appear-active) {
    opacity: 1;
    transition: opacity .5s ease-in;
}
