.sidebar {
  flex: 0 0 194px;
	padding-top: 15px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;

  .summary {
    flex: 0 0 186px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('../../static/ring.png');
		background-size: cover;
    background-repeat: no-repeat;
		font-family: 'LoL Display';
		cursor: default;

    .skinsCount {
      margin-top: 25%;
      flex: 0 0 40px;
      background: linear-gradient(to bottom, #cdbe91 0%, #c8aa6e 35%, #765c29 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #f0e6d2;
      font-size: 40px;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: 0.05em;
    }

    .skinsText {
      flex: 0 1 auto;
      margin: 20px auto;
      width: 100px;
      color: #a09b8c;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.075em;
      text-transform: uppercase;
    }
  }

	.filters {
		margin-top: 20px;

		& > div {
			margin-bottom: 20px;
		}
	}
}
