.sidebar {
  flex: 0 0 194px;
	padding-top: 15px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;

	.ring {
		border-radius: 50%;
		cursor: pointer;

		& > img {
			pointer-events: none;
			transition: transform .5s linear;
		}

		&:hover {
			img {
				filter: drop-shadow(2px 2px 4px #000);
			}
		}

		&.rotated {
			& > img {
				transform: rotate(90deg);
			}
		}
	}

	.filters {
		margin-top: 20px;

		& > div {
			margin-bottom: 20px;
		}
	}
}
