@import '~variables.scss';

:global {
  .inputWrapper {
    display: flex;
    width: 100%;
    height: 32px;
		font-size: 14px;
    position: relative;
    align-items: center;

    .inputReset {
      position: absolute;
      right: 7px;
      font-size: 1.3em;
      transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
      background-color: darken($lcu-text-light, 10%);
      cursor: pointer;
      -webkit-transform: translate3d(0,0,0);
      z-index: 10;
			-webkit-mask-image: url('~static/lcu/close.svg');
			height: 12px;
			width: 12px;
      opacity: 0;
      visibility: hidden;

      &:hover {
        background-color: lighten($lcu-text-light, 10%);
      }

      &:active {
        background-color: #785A28;
      }

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }

		input[type='search'] {
			background-image: url('~static/lcu/search-icon.png');
			background-size: 16px;
			background-position: 5px center;
			background-repeat: no-repeat;
			padding-left: 27px;
		}

    .input {
      width: 100%;
      height: 100%;
      padding: 0 20px 0 11px;
      color: $lcu-text-dark;
      font-weight: normal;
      font-family: 'LoL Body';
      display: block;
      box-sizing: border-box;
      border: 1px solid #785A28;
      background-color: rgba(0,0,0,0.7);
      -webkit-appearance: none;
      outline: none;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.25) inset,0 0 0 1px rgba(0,0,0,0.25);

      &:placeholder-shown {
        font-size: 1em;
      }
    }
  }
}
